spring:
  main:
    allow-circular-references: true
  datasource:
    url: jdbc:postgresql://localhost:5433/konoha_jira
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  sql:
    init:
      mode: never

server:
  port: 8080

app:
  security:
    jwt:
      secret: bXktdmVyeS1zZWN1cmUtc2VjcmV0LWtleS1mb3ItamlyYS0xMjM0NQ==
      expiration-ms: 86400000

